body {
  color: #fff;
  background-color: #0b0b0b;
  font-family: Exo, sans-serif;
  font-size: 1vw;
  line-height: 1.5;
}

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 19vh;
  font-weight: 900;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 6em;
  font-weight: 400;
  line-height: 1.3;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 500;
  line-height: 1.4;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.5;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.6;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
}

p {
  margin-bottom: 0;
  font-size: 1.25em;
  line-height: 1.6;
}

a {
  font-size: 1em;
  text-decoration: underline;
}

img {
  width: 100%;
  display: inline-block;
}

strong {
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1700px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  position: relative;
}

.container.small {
  padding-left: 8rem;
  padding-right: 8rem;
}

.container.footer-content {
  z-index: 2;
}

.container.works {
  position: static;
}

.section {
  z-index: 1;
  padding-top: 10em;
  padding-bottom: 10em;
  position: relative;
}

.section.contact {
  height: 100vh;
  max-height: 1000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.section.projects, .no-t-padding {
  padding-top: 0;
}

.no-b-padding {
  padding-bottom: 0;
}

.no-tb-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.no-t-margin {
  margin-top: 0;
}

.no-b-margin {
  margin-bottom: 0;
}

.no-tb-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  z-index: 99;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header.difference {
  background-image: linear-gradient(#000, rgba(255, 255, 255, 0));
  padding-top: 1em;
}

.nav {
  height: 100%;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  display: grid;
}

.nav_link {
  color: #fff;
  text-transform: uppercase;
  margin-right: .5em;
  font-size: 1.25em;
  text-decoration: none;
}

.navbar_inner {
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.section_body.large {
  max-width: 24.5em;
  font-size: 3em;
  line-height: 1.3;
}

.section_body.large.intro {
  max-width: 21.5em;
  text-align: left;
}

.section_body.intro {
  max-width: 20em;
  text-align: justify;
}

.section_body.footer {
  position: absolute;
  bottom: 150%;
}

.t-margin {
  margin-top: 10em;
}

.b-margin {
  margin-bottom: 10em;
}

.tb-margin {
  margin-top: 10em;
  margin-bottom: 10em;
}

.section_heading {
  font-size: 6em;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
}

.section_heading.ticker-text {
  flex: none;
  font-family: Exo, sans-serif;
}

.section_heading.ticker-text.black {
  text-transform: uppercase;
  font-family: Exo, sans-serif;
  font-weight: 900;
}

.process_item {
  width: 100vw;
  flex: none;
}

.service {
  grid-column-gap: 7em;
  grid-row-gap: 7em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  display: grid;
  position: relative;
}

.service_title {
  font-family: Roboto;
  font-weight: 400;
}

.service_accent {
  width: 1em;
  height: 100%;
  max-height: 5em;
  transform-origin: 50% 0;
  background-color: #7e3a3b;
  transition: transform 2s cubic-bezier(.19, 1, .22, 1);
}

.globals {
  display: none;
}

.service_icon {
  width: 10em;
  height: 10em;
  position: absolute;
  top: 40%;
  left: 20em;
  right: auto;
}

.cta-mid_btn {
  z-index: 4;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.cta-mid_btn:hover {
  z-index: 20;
}

.section-content {
  grid-row-gap: 7em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-items: center;
  display: grid;
  position: relative;
}

.email_link {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  display: flex;
}

.email_text {
  z-index: 5;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Exo, sans-serif;
  font-size: 7em;
  font-weight: 600;
  position: relative;
}

.custom-cursor_wrap {
  z-index: 100;
  justify-content: center;
  align-items: center;
  transition: opacity .1s;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cursor {
  width: 1.25em;
  height: 1.25em;
  opacity: 0;
  mix-blend-mode: difference;
  background-color: #5698d8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color .5s cubic-bezier(.19, 1, .22, 1), border-radius .5s cubic-bezier(.19, 1, .22, 1), width .5s cubic-bezier(.19, 1, .22, 1), height .5s cubic-bezier(.19, 1, .22, 1);
  display: flex;
  position: absolute;
  overflow: hidden;
}

.img-reveal_wrap {
  position: relative;
  overflow: hidden;
}

.emoji {
  font-size: .75em;
  display: inline-block;
  overflow: hidden;
}

.ticker {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  text-decoration: none;
  overflow: hidden;
}

.ticker.forwards.projects {
  z-index: 2;
  text-transform: uppercase;
  border-left-color: #1d1d1d;
  border-right-color: #1d1d1d;
  margin-top: 6em;
  font-size: 2vh;
  font-weight: 900;
  position: -webkit-sticky;
  position: sticky;
  top: 6em;
}

.ticker.giant.opacity-75 {
  opacity: .75;
}

.ticker_track {
  z-index: 1;
  display: flex;
  position: relative;
}

.ticker_group {
  flex: none;
  display: flex;
}

.flow-grid {
  width: 100%;
  max-width: 100%;
  grid-column-gap: 0em;
  grid-row-gap: 2.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-items: stretch;
  display: grid;
}

.project_wrap {
  width: 40em;
  height: 40em;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  filter: grayscale();
  color: #fff;
  cursor: pointer;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  text-decoration: none;
  display: flex;
  position: relative;
}

.project_item {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.project_name {
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.35em;
  font-weight: 900;
  line-height: 1.3;
}

.project_info {
  z-index: 3;
  width: 100%;
  max-width: 90%;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  border-right: 2px solid #fff;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  padding-top: 1rem;
  padding-right: .5rem;
  display: grid;
  position: relative;
}

.project_desc {
  opacity: .5;
  text-align: right;
  font-size: 1.15em;
}

.cursor_arrow {
  width: 65%;
  height: auto;
  opacity: 0;
  transition: opacity .2s;
}

.img-span {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.grow-text {
  transform-origin: 0 0;
  display: inline-block;
}

.cta-underline {
  height: 4em;
  transform-origin: 50% 100%;
  background-color: #5698d8;
  margin-top: -5.3em;
}

.footer-tickers {
  z-index: 0;
  height: 100%;
  opacity: .05;
  flex-direction: column;
  font-size: 15vh;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer-ticker-group {
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  display: flex;
}

.logo_link {
  width: 60px;
  height: 60px;
  position: relative;
}

.logo_link.w--current {
  width: auto;
  height: auto;
}

.cursor-text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity .3s cubic-bezier(.19, 1, .22, 1);
  display: none;
  position: absolute;
}

.content-group {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.body {
  background-color: #0e0e0e;
  font-family: Exo, sans-serif;
}

.video-embed {
  width: 100%;
  outline-offset: -2px;
  background-image: url('../images/ytthumb.webp');
  background-position: 0 0;
  background-size: contain;
  outline: 3px solid rgba(0, 0, 0, .42);
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.ascii {
  opacity: .5;
  color: #5698d8;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 9.91px;
  }

  p {
    font-size: 1.5em;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container.small {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .section.contact {
    height: 50vh;
    max-height: 650px;
  }

  .section_body.footer {
    bottom: 200%;
  }

  .service {
    grid-template-columns: 1fr .75fr;
  }

  .section-content {
    flex-direction: column;
    align-items: center;
  }

  .email_text {
    font-size: 6.5vw;
  }

  .custom-cursor_wrap {
    display: none;
  }

  .flow-grid {
    grid-column-gap: 0em;
    grid-row-gap: 2.5em;
  }

  .project_wrap {
    width: 35em;
    height: 35em;
  }

  .cta-underline {
    margin-top: -5vw;
  }

  .logo_link {
    width: 50px;
    height: 50px;
  }

  .logo_link.w--current {
    width: 50%;
  }

  .video-embed {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container.small {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .section.contact {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section.projects {
    padding-bottom: 0;
  }

  .section_body.large.intro {
    order: -1;
  }

  .section_body.intro {
    order: 1;
  }

  .section_heading {
    font-size: 4em;
  }

  .service_icon {
    width: 6em;
    height: 6em;
    position: relative;
    top: auto;
    left: auto;
  }

  .section-content {
    display: flex;
  }

  .project_wrap {
    width: 80vw;
    height: 80vw;
  }

  .cta-underline {
    height: 3em;
  }

  .logo_link.w--current {
    width: 70%;
  }

  .video-embed {
    width: 95%;
  }
}

@media screen and (max-width: 479px) {
  .section.contact {
    max-height: 750px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section.projects {
    padding-bottom: 0;
  }

  .nav {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .nav_link {
    margin-right: 3vw;
    font-size: 4vw;
  }

  .navbar_inner {
    flex-direction: column;
  }

  .section_heading {
    font-size: 3.5em;
    line-height: 1;
    display: block;
  }

  .process_item {
    width: 100vw;
  }

  .email_text {
    font-size: 5.5vw;
  }

  .flow-grid {
    grid-column-gap: 0em;
    grid-row-gap: 5em;
  }

  .project_wrap {
    width: 85vw;
    height: 85vw;
  }

  .img-span {
    justify-content: center;
    display: flex;
  }

  .cta-underline {
    height: 2em;
  }

  .logo_link {
    width: 15vw;
    height: 15vw;
    max-height: 50px;
    max-width: 50px;
  }

  .logo_link.w--current {
    max-height: none;
    max-width: none;
  }
}

#w-node-_30066008-27c5-a99b-6710-d096ce9dacd4-bc2f50be {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9f3f3223-5878-20eb-144c-2a6d6eb0b722-bc2f50be {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-b97ce541-7a2d-ddd8-b783-a86a67ff34cd-bc2f50be {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_038df902-d38f-1fde-9319-2b890bce257f-bc2f50be {
  grid-area: 1 / 1 / 2 / 5;
  align-self: start;
}

#w-node-_6a4bea8a-a8fb-5940-7b93-61c8bc90cbe3-bc2f50be {
  grid-area: 1 / 1 / 3 / 3;
  align-self: start;
  justify-self: start;
}

#w-node-_6bafd87a-d994-c9da-b3aa-0e6480e0094b-bc2f50be {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
  justify-self: end;
}

#w-node-_6bafd87a-d994-c9da-b3aa-0e6480e0094c-bc2f50be, #w-node-_6bafd87a-d994-c9da-b3aa-0e6480e0094e-bc2f50be {
  align-self: end;
  justify-self: end;
}

#w-node-dcb50767-d414-dd0b-442b-976ab835eb29-bc2f50be {
  grid-area: 3 / 3 / 2 / 5;
  align-self: start;
  justify-self: start;
}

#w-node-dcb50767-d414-dd0b-442b-976ab835eb2c-bc2f50be {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
  justify-self: end;
}

#w-node-dcb50767-d414-dd0b-442b-976ab835eb2d-bc2f50be, #w-node-dcb50767-d414-dd0b-442b-976ab835eb2f-bc2f50be {
  align-self: end;
  justify-self: end;
}

#w-node-_50c1a9b4-c1a0-ca7c-a016-cd3cec02096d-bc2f50be {
  justify-self: center;
}


